@charset "  UTF-8";
/*
em HTML é "id" = em CSS é "#"(só pode 1 elemento)
em HTML é "class" = em CSS é "."(pode vários elementos)
*/

body {
    background-color: #aaf3d9;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
 color: #419477;
}
h1#principal{
    text-align: center;
    background-color:#3d7964;
    color: white;
}
h2{
 color: #50B692;
}

.basico{
color: rgb(59, 122, 59);
}
.intermediario{
    color: rgb(121, 122, 59);
}
.avancado{
 color: rgb(122, 59, 59);
}
.destaque{
    background-color: rgb(201, 201, 95);
}